<!-- Certifications Section -->
<section id="certifications" class="bg-light py-5">
    <div class="container">
      <h2 class="text-center mb-4">Certifications</h2>
  
      <div class="row">
        <!-- Certification 1 -->
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Certification en Développement Web Avancé</h5>
              <p class="card-text">
                Organisme de Certification: WebSkills Institute <br>
                Date d'obtention: Mai 2022 <br>
                Description: Cette certification atteste de ma maîtrise des technologies web modernes, y compris HTML5, CSS3, JavaScript avancé, et frameworks front-end.
              </p>
            </div>
          </div>
        </div>
  
        <!-- Certification 2 -->
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Certification en Gestion de Projet Agile</h5>
              <p class="card-text">
                Organisme de Certification: Agile Certification Board <br>
                Date d'obtention: Septembre 2021 <br>
                Description: Cette certification valide mes compétences dans la gestion de projets agiles, y compris les méthodologies Scrum et Kanban.
              </p>
            </div>
          </div>
        </div>
  
        <!-- Certification 3 -->
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Certification Angular Expert</h5>
              <p class="card-text">
                Organisme de Certification: Angular Mastery Institute <br>
                Date d'obtention: Juillet 2021 <br>
                Description: Cette certification démontre ma maîtrise du framework Angular, y compris la création d'applications web robustes et performantes.
              </p>
            </div>
          </div>
        </div>
  
        <!-- Certification 4 -->
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Certification en Développement Android</h5>
              <p class="card-text">
                Organisme de Certification: Mobile Development Academy <br>
                Date d'obtention: Novembre 2020 <br>
                Description: Cette certification atteste de mes compétences dans le développement d'applications Android, y compris la création d'interfaces utilisateur élégantes et l'intégration de fonctionnalités avancées.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

