<!-- about.component.html -->
<div class="container mt-5">
    <h1 class="text-center">About Mounira</h1>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <p>
                Hello, I'm Mounira Rouag. Thank you for visiting my website! Let me share more about myself.
            </p>
            <p>
                I'm a passionate Senior Software Engineer with a Master's degree in Computer Science. My journey in the world of technology has been filled with exciting challenges and continuous learning.
            </p>
            <p>
                During my studies, I specialized in it development . This academic background has given me a solid foundation in web.
            </p>
            <p>
                In my professional career, I have had the opportunity to work on diverse projects, ranging from [mention types of projects or industries]. I enjoy tackling complex problems and turning ideas into scalable and efficient solutions.
            </p>
            <p>
                Beyond coding, I have a keen interest in sport. Whether it's exploring the latest tech trends, contributing to open-source projects, or [mention other interests], I always seek to broaden my horizons.
            </p>
            <p>
                I believe in the power of collaboration and continuous improvement. I am open to new opportunities and challenges that allow me to apply my skills, contribute to meaningful projects, and grow both personally and professionally.
            </p>
            
        </div>
    </div>
</div>
