<div class="container p-4">
    <div class="row greeting-row justify-content-center align-items-center">
        <div class="col-12 col-md-3 text-center">
            <div class="mt-circle-image-container">
                <img src="assets/images/mounira.jpg" draggable="false" alt="" class="img-fluid"/>
            </div>
        </div>
        <div class="col-12 col-md-9 text-center">
            <h1 class="greeting">Hello, I'm Mounira Rouag</h1>
            <hr/>
            <p class="lead">
                <span class="greeting">Welcome to my website</span> 🌺. I'm a Senior Software Engineer at Actia with a Master's in Computer Science, and an aspiring NASA Astronaut.
            </p>
            <p class="lead">
                I have a passion for the Italian culture, and I care deeply about preserving its beautiful language. In my free time, I love to weld, fix cars, build electronics, and so much more.
            </p>
        </div>
    </div>
</div>



